<p id="notice"><%= notice %></p>
<div class="orchard-panel">

<div class="panel-header">
  <h1>Donors</h1>
  <ul>
    <li><%#= link_to 'Delete All', destroy_all_donors_path %></li>
    <li><%= link_to 'New Donor', new_event_donor_path(@event) %></li>
  </ul>
</div>
<div class="row">
  <%= form_tag event_donors_path(@event), :method => 'get' do%>
    <div class="large-4 columns"><%= text_field_tag 'search_name', @search_placeholder %></div>
    <div class="large-4 columns"><%= select_tag 'search_cat', options_for_select(Status.stages.collect { |s| [s[0].humanize, s[1]]}), id: "search_cat", :include_blank => "All Statuses" %></div>
    <div class="large-4 columns"><%= submit_tag "Find Donor", :class => "search-button", :name => nil %></div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th><%= link_to "ID", :sort => "id" %></th>
      <th><%= link_to "Company", :sort => "company" %></th>
      <th>Name</th>
      <th><%= link_to "Status", :sort => "status" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td><%= icon_link edit_event_donor_path(@event, donor), "wrench" %></td>
        <td><%= donor.id %></td>
        <td><%= link_to donor.company, event_donor_path(@event, donor) %></td>
        <td><%= donor.first_name %> <%= donor.last_name %></td>
        <td><%= donor.stage != nil ? donor.stage.stage : "uncalled" %></td>
        <td><%= link_to '<i class="fi-x"></i>'.html_safe, donor, method: :delete, data: { confirm: 'Are you sure? This will also delete all the items donated by this donor.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <div class="panel-header">
    <h3>Import Donors</h3>
  </div>
  <%= form_tag import_donors_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div>
