<p id="notice"><%= notice %></p>

<div class="orchard-panel">
<div class="panel-header">
  <h1><%= @donor.company %></h1>
  <ul>
    <li><%= link_to 'Back', donors_path %></li>
    <li><%= link_to 'Edit', edit_donor_path(@donor) %></li>
  </ul>
</div>
<p><%= @donor.first_name %> <%= @donor.last_name %></p>
  <p><%= @donor.email %></p>
  <p><%= @donor.phone %></p>
  <p><%= @donor.address1 %><br />
    <% if @donor.address2.present? %><%= @donor.address2 %> <br /><% end %>
  <%= @donor.city %>, <%= @donor.state %> <%= @donor.zip %></p>
  <p>This donor <strong>HAS <% if !@donor.has_donated %>NOT<% end %></strong> donated before.</p>
  <% if @donor.website.present? %><p><%= link_to @donor.website, "http://" + @donor.website %></p><% end %>
  <p>Status: <%= @donor.status.humanize %></p>
 </div>
 
 <div class="orchard-panel">
<div class="panel-header">
  <h1>Donations</h1>
  <ul>
    <li><%= link_to 'Add', "#" %></li>
  </ul>
</div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th class="numeric">Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @donor.items.each do |item| %>
      <tr>
        <td><%= icon_link edit_donor_item_path(@donor, item), "wrench" %></td>
        <td><%= link_to item.name, donor_item_path(@donor, item) %></td>
        <td class="numeric"><%= number_to_currency(item.fmv) %></td>
        <td><%= link_to '<i class="fi-x"></i>'.html_safe, donor_item_path(@donor, item), method: :delete, data: { confirm: 'Are you sure? This will also delete all sales records to this buyer.' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h4>Add Item</h4>
  <%= simple_form_for([@donor, @donor.items.build]) do |f| %>
  <p><%= f.input :name %></p>
  <p><%= f.input :description, input_html: { class: 'materialize-textarea' } %></p>
  <p><%= f.input :fmv %></p>
  <p>
    <%= f.button :submit, class: "btn" %>
  </p>
  <% end %>
</div>

<div class="orchard-panel">
<div class="panel-header">
  <h1>Communication History</h1>
  <ul>
    <li><%= link_to 'Add', "#" %></li>
  </ul>
</div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>By</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
    <% @donor.contacts.each do |contact| %>
      <tr>
        <td><%= contact.contacted_on %></td>
        <td><%= contact.channel.humanize %></td>
        <td><%= contact.user.first_name %></td>
        <td><%= contact.note %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  
  <h4>Add Contact</h4>
  <%= simple_form_for([@donor, @donor.contacts.build]) do |f| %>
  <p><%= f.label :contacted_on %> <%= f.date_field :contacted_on, :value => Time.now.strftime('%Y-%m-%d'), class: 'datepicker' %></p>
  <p><%= f.input :channel %></p>
  <p><%= f.input :note, input_html: { class: 'materialize-textarea' } %></p>
  <p>
    <%= f.button :submit, class: "btn" %>
  </p>
<% end %>
</div>
