<p id="notice"><%= notice %></p>

<div class="orchard-panel">
<div class="panel-header">
  <h1><%= @donor.company %></h1>
  <ul>
    <li><%= link_to 'Back', donors_path %></li>
    <li><%= link_to 'Edit', edit_donor_path(@donor) %></li>
  </ul>
</div>
  <p><%= @donor.first_name %> <%= @donor.last_name %>
  <% if @donor.title.present? %><br /><%= @donor.title %><% end %></p>
  <p><%= @donor.email %></p>
  <p><%= @donor.phone %></p>
  <p><%= @donor.address1 %><br />
    <% if @donor.address2.present? %><%= @donor.address2 %> <br /><% end %>
  <%= @donor.city %>, <%= @donor.state %> <%= @donor.zip %></p>
  <p>This donor <strong>HAS <% if !@donor.has_donated %>NOT<% end %></strong> donated before.</p>
  <% if @donor.website.present? %><p><%= link_to @donor.website, "http://" + @donor.website %></p><% end %>
  <p>Status: <%= @donor.status.humanize %></p>
 </div>

 <div class="orchard-panel">
<div class="panel-header">
  <h1>Donations</h1>
</div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th class="numeric">Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="donor-items">
      <% @donor.items.each do |item| %>
        <%= render 'items/item_row', item: item, donor: @donor  %>
      <% end %>
    </tbody>
  </table>
  <a class="action-button" id="donation-add-button">Add</a>
  <!-- form for adding a donation item -->
  <div id="donation-add-form">
    <h4>Add Item</h4>
    <%= simple_form_for([@donor, @donor.items.build], :remote => true) do |f| %>
    <div class="form-inputs">
      <div class="row">
        <div class="large-12 columns"><%= f.input :name %></div>
      </div>
      <div class="row">
        <div class="large-6 columns"><%= f.input :category %></div>
        <div class="large-6 columns"><%= f.input :format %></div>
      </div>
      <div class="row">
        <div class="large-6 columns"><%= f.input :fmv %></div>
        <div class="large-6 columns"><%= f.input :opening_price %></div>
      </div>
       <div class="row">
        <div class="large-12 columns"><%= f.input :description %></div>
      </div>
      <div class="row">
        <div class="large-12 columns"><%= f.input :restrictions %></div>
      </div>
    </div>
    <p class="form-control">
      <%= f.button :submit, class: "btn" %><%= f.button :submit, "Create and Add Another", class: "btn" %><a id="donation-cancel-button" class="btn">Cancel</a>
    </p>
    <% end %>
  </div>
</div>

<div class="orchard-panel">
<div class="panel-header">
  <h1>Communication History</h1>
</div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>By</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody id="donor-contacts">
    <% @donor.contacts.each do |contact| %>
      <tr>
        <td><%= contact.contacted_on %></td>
        <td><% if contact.channel.nil? %>&mdash;<% else %>%= contact.channel.humanize<% end %></td>
        <td><%= contact.user.first_name %></td>
        <td><%= contact.note %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <a class="action-button" id="contact-add-button">Add</a>
  <div id="contact-add-form">
    <h4>Add Contact</h4>
    <%= simple_form_for([@donor, @donor.contacts.build]) do |f| %>
    <p><%= f.label :contacted_on %> <%= f.date_field :contacted_on, :value => Time.now.strftime('%Y-%m-%d'), class: 'datepicker' %></p>
    <p><%= f.input :channel %></p>
    <p><%= f.input :note, input_html: { class: 'materialize-textarea' } %></p>
    <p class="form-control">
      <%= f.button :submit, class: "btn" %><a id="contact-cancel-button" class="btn">Cancel</a>
    </p>
    <% end %>
  </div>
</div>
