<p id="notice"><%= notice %></p>

<div class="orchard-panel">
<div class="panel-header">
  <h1><%= @donor.company %></h1>
  <ul>
    <li><%= link_to 'Edit', edit_event_donor_path(@event, @donor) %></li>
  </ul>
</div>
  <p><%= @donor.first_name %> <%= @donor.last_name %>
  <% if @donor.title.present? %><br /><%= @donor.title %><% end %></p>
  <p><%= @donor.email %></p>
  <p><%= @donor.phone %></p>
  <p><%= @donor.address1 %><br />
    <% if @donor.address2.present? %><%= @donor.address2 %> <br /><% end %>
  <%= @donor.city %>, <%= @donor.state %> <%= @donor.zip %></p>
  <p>This donor <strong>HAS <% if !@donor.has_donated %>NOT<% end %></strong> donated before.</p>
  <% if @donor.website.present? %><p><%= link_to @donor.website, "http://" + @donor.website %></p><% end %>
  <p>Status: <%= @donor.get_stage(@event).humanize %></p>
 </div>

 <div class="orchard-panel">
   <div class="panel-header">
     <h1>Donations</h1>
     <ul>
       <li><a href="#" id="btn_donor_item_toggle">New Item</a></li>
     </ul>
   </div>
   <div id="gen-errors">
     <ul></ul>
   </div>
   <div id="gen-form">
     <%= render "items/form" %>
   </div>
   <div id="gen-list">
     <%= render "items/index" %>
   </div>

</div>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Donor Status</h1>
  </div>
  <%= simple_form_for([@event,@donor], :url => stage_event_donor_path, remote: false) do |f| %>
  <div class="row">
    <div class="large-6 columns"><%= f.input :stage, collection: Status.stages.keys.to_a, :selected => @donor.get_stage(@event) %></div>
    <div class="large-6 columns"><%= f.button :submit, class: "btn" %></div>
  </div>
<% end %>
</div>



<div class="orchard-panel">
  <div class="panel-header">
    <h1>Communication History</h1>
    <ul>
      <li><a href="#" id="btn_donor_contact_toggle">Record a Contact</a></li>
    </ul>
  </div>
  <div id="com-errors">
    <ul></ul>
  </div>
  <div id="com-form">
    <%= render "contacts/form" %>
  </div>
  <div id="com-list">
    <%= render "contacts/index" %>
  </div>

</div>
