<% if @wins.count > 0 %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Lot</th>
      <th>Winner</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wins.each do |win| %>
      <tr>
        <td><%#= icon_link edit_win_path(win), "wrench" %></td>
        <td><%= link_to win.lot.lot_number, event_lot_path(@event, win.lot) %></td>
        <td><%= link_to win.lot.name, event_lot_path(@event, win.lot) %></td>
        <td><%= link_to(win.buyer.reverse_name, event_buyer_path(@event, win.buyer)) %></td>
        <td><%= number_to_currency(win.price) %></td>
        <td><%= link_to '<i class="fi-x"></i>'.html_safe, event_win_path(@event, win), method: :delete, remote: true, data: { confirm: 'Are you sure? This will delete the record of this win.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No wins recorded yet.</p>
<% end %>
