<p id="notice"><%= notice %></p>

<div class="orchard-panel">
<div class="panel-header">
  <h1>Items</h1>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Donor</th>
      <th class="numeric">FMV</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= icon_link edit_donor_item_path(item.donor, item), "wrench" %></td>
        <td><%= link_to item.name, donor_item_path(item.donor, item) %></td>
        <td><%= link_to item.donor.company, donor_path(item.donor) %></td>
        <td class="numeric"><%= number_to_currency(item.fmv) %></td>
        <td><%#= link_to 'Show', item %></td>
        <td><%#= link_to 'Edit', edit_item_path(donor) %></td>
        <td><%= icon_delete_link item, "Are you sure?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
