<p id="notice"><%= notice %></p>
<div class="orchard-panel">
<div class="panel-header">
  <h1><%= @item.name %></h1>
  <ul>
    <li><%= link_to 'Edit', edit_donor_item_path(@item.donor, @item) %></li>

  </ul>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="lede"><%= @item.description %></div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <div class="stat">
      <em>FMV</em>
      <strong id="fmv-price"><%= number_to_currency(@item.fmv) %></strong>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="stat">
      <em>Opening Price</em>
      <strong><%= number_to_currency(@item.opening_price) %></strong>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="stat">
      <em>Type of Item</em>
      <strong><%= @item.format %></strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="stat">
      <em>Item Category</em>
      <strong><%= @item.category %></strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="stat">
      <em>Restrictions</em>
      <p><%= @item.restrictions %></p>
    </div>
  </div>
</div>

</div>
</div>
