<%= simple_form_for(@lot) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="large-12 columns"><%= f.input :name %></div>
    </div>
     <div class="row">
      <div class="large-12 columns"><%= f.input :description %></div>
    </div>
    <div class="row">
      <div class="large-6 columns"></div>
      <div class="large-6 columns"></div>
    </div>
    <div class="row">
      <div class="large-6 columns"></div>
      <div class="large-6 columns"></div>
    </div>
    <div class="row">
      <div class="large-6 columns"></div>
      <div class="large-2 columns"></div>
      <div class="large-4 columns"></div>
    </div>
  
    <!-- Restrictions, Type (physical, gift), Suggested opening bid, Bid increment amount, buy it now price -->
    
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>FMV</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= check_box_tag "item_ids[]", item.id, false, :id => "item_id_#{item.id}" %><label for="item_id_<%= item.id %>"></label></td>
          <td><%= item.name %></td>
          <td><%= item.fmv %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
