<p id="notice"><%= notice %></p>
<div class="orchard-panel">
<div class="panel-header">
  <h1>Auction Lots</h1>
  <ul>
    <li><%= link_to 'New Lot', new_event_lot_path(@event) %></li>
  </ul>
</div>

<% if @lots.count > 0 %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>No.</th>
      <th>Name</th>
      <th>Table</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lots.each do |lot| %>
      <tr>
        <td><%= icon_link edit_event_lot_path(@event, lot), "wrench" %></td>
        <td><%= lot.lot_number %></td>
        <td><%= link_to lot.name, event_lot_path(@event, lot) %></td>
        <td><%= lot.table_number %></td>
        <td><%= icon_delete_link event_lot_path(@event, lot), "Deleting this lot will NOT delete the items inside of it." %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>No lots created yet.</p><% end %>
</div>
