<p id="notice"><%= notice %></p>
<div class="orchard-panel">
<div class="panel-header">
  <h1 id="lot-name">#<%= @lot.lot_number %> <%= @lot.name %></h1>
  <ul>
    <li><%= link_to 'Edit', edit_lot_path(@lot) %></li>

  </ul>
</div>
<div class="row">
  <div class="large-12 columns">
    <div>Group <%= @lot.table_number %></div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="lede" id="desc"><%= @lot.description %></div>
  </div>
</div>
<div class="row">
  <div class="large-3 columns">
    <div class="stat">
      <em>Calculated FMV</em>
      <strong id="fmv-price"><%= number_to_currency(@lot.calculated_fmv) %></strong>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="stat">
      <em>Opening Price</em>
      <strong id="opening-price"><%= number_to_currency(@lot.calculated_opening_price) %></strong>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="stat">
      <em>Buy It Now Price</em>
      <strong id="bin-price"><%= number_to_currency(@lot.buy_now_price) %></strong>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="stat">
      <em>Bid Increment</em>
      <strong id="bid-increment"><%= number_to_currency(@lot.calculated_bid_increment) %></strong>
    </div>
  </div>

</div>
</div>

<div class="orchard-panel">
  <div class="panel-header">
    <h4>Items in this Lot</h4>
  </div>
  <p id="no-items-message" style="display:<%= @lot.items.empty? ? 'block' : 'none' %>">This lot has no items. To add an item to the lot, click the up arrow on one of the available items listed below.</p>
<table id="contained-items"  style="display:<%= @lot.items.empty? ? 'none' : 'table' %>">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Donor</th>
      <th class="numeric">FMV</th>
    </tr>
  </thead>

  <tbody>
    <% @lot.items.each do |item| %>
    <tr id="item-<%= item.id %>">
        <td><%= icon_link(toggle_lot_path(@lot, item_id: item), "arrow-down", true) %></td>
        <td><%= link_to item.name, donor_item_path(item.donor, item) %></td>
        <td><%= link_to item.donor.company, donor_path(item.donor) %></td>
        <td class="numeric"><%= number_to_currency(item.fmv) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <br/>
<div class="panel-header">
    <h4>Available Items to Add</h4>
  </div>
  <p id="no-available-message" style="display:<%= @available_items.empty? ? 'block' : 'none' %>">All items are already in other lots. To move an item from another lot to this one, remove the item from that lot and it will show up here as available. To create a new item, go to its Donor page and add the item.</p>
  <table id="available-items" style="display:<%= @available_items.empty? ? 'none' : 'table' %>">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Donor</th>
      <th class="numeric">FMV</th>
    </tr>
  </thead>

  <tbody>
    <% @available_items.each do |item| %>
      <tr id="item-<%= item.id %>">
        <td><%= icon_link(toggle_lot_path(@lot, item_id: item), "arrow-up", true) %></td>
        <td><%= link_to item.name, donor_item_path(item.donor, item) %></td>
        <td><%= link_to item.donor.company, donor_path(item.donor) %></td>
        <td class="numeric"><%= number_to_currency(item.fmv) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
