<p id="notice"><%= notice %></p>
<div class="orchard-panel">

<div class="panel-header">
  <h1>Buyers</h1>
  <ul>
    <li><%= link_to 'Delete All', destroy_all_buyers_path %></li>
    <li><%= link_to 'New Buyer', new_buyer_path %></li>
  </ul>
</div>
<div class="row">
  <%= form_tag buyers_path, :method => 'get' do%>
    <div class="large-9 columns"><%= text_field_tag 'search' %></div>
    <div class="large-3 columns"><%= submit_tag "Find Buyer", :class => "search-button", :name => nil %></div>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Buyer Number</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= icon_link edit_buyer_path(buyer), "wrench" %></td>
        <td><%= buyer.buyer_number %></td>
        <td><%= link_to(buyer.reverse_name, buyer_path(buyer)) %></td>
        <td><%= link_to '<i class="fi-x"></i>'.html_safe, buyer, method: :delete, data: { confirm: 'Are you sure? This will also delete all sales records to this buyer.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <div class="panel-header">
    <h3>Import Buyers</h3>
  </div>
  <%= form_tag import_buyers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
  <% end %>

</div>
