<p id="notice"><%= notice %></p>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>#<%= @buyer.buyer_number %></h1>
    <ul>
      <li><%= link_to 'Add Another', new_buyer_path %></li>
      <li><%= link_to 'Edit', edit_buyer_path(@buyer) %></li>
    </ul>
  </div>
  <div class="row">
    <div class="large-12 columns"><h3><%= @buyer.first_name %> <%= @buyer.last_name %></h3></div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="stat">
        <em>Email</em>
        <p><% if @buyer.email.present? %><%= mail_to @buyer.email %><% else %>None on file<% end %></p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="stat">
        <em>Telephone</em>
        <p><% if @buyer.telephone.present? %><%= @buyer.telephone %><% else %>None on file<% end %></p>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="stat">
        <em>No of Pre-Paid Guests</em>
        <p><b><% if @buyer.guests.present? %><%= @buyer.guests %><% else %>0<% end %></b></p>
      </div>
    </div>
  </div>
</div>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Wins</h1>
  </div>
  <div id="win-list">
    <%= render "wins" %>
  </div>
</div>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Pledges</h1>
  </div>
  <div id="gen-list">
    <%= render "pledges" %>
  </div>
</div>
<div class="orchard-panel">
  <div class="panel-header">
    <h1>Total</h1>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h4 style="text-align: right">Total due for wins and pledges: <b> <%= number_to_currency(@buyer.total_purchase) %> </b></h4>
    </div>
  </div>
</div>
