<p id="notice"><%= notice %></p>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>#<%= @buyer.buyer_number %></h1>
    <ul>
      <li><%= link_to 'Add Another', new_buyer_path %></li>
      <li><%= link_to 'Edit', edit_buyer_path(@buyer) %></li>
    </ul>
  </div>
  <div class="row">
    <div class="large-12 columns"><h3><%= @buyer.first_name %> <%= @buyer.last_name %></h3></div>
  </div>
</div>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Wins</h1>
  </div>
  <div id="win-list">
    <%= render "index" %>
  </div>
  <div id="win-total">
    <ul></ul>
  </div>
  <div id="win-errors">
    <ul></ul>
  </div>
  <div id="win-form">
  </div>

</div>
